In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

In [2]:
import webbrowser
website='https://en.wikipedia.org/wiki/https://en.wikipedia.org/wiki/List_of_all-time_NFL_win%E2%80%93loss_records'
#webbrowser.open(website)

The read_clipboard() function will capture the date copied data

In [3]:
nfl_frame = pd.read_clipboard()
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East
5,6,Minnesota Vikings,886,478,397,11,0.546,1961,NFC North
6,7,Baltimore Ravens,368,200,167,1,0.545,1996,AFC North
7,8,New York Giants,"1,321",692,596,33,0.536,1925,NFC East
8,9,Denver Broncos,900,476,414,10,0.534,1960,AFC West

In [4]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Division'],
      dtype='object')

In [6]:
nfl_frame['First NFL Season']

0    1960
1    1920
2    1921
3    1960
4    1966
5    1961
6    1996
7    1925
8    1960
Name: First NFL Season, dtype: int64

In [9]:
DataFrame(nfl_frame,columns=(['Division','First NFL Season','Rank']))

    Division  First NFL Season  Rank
0   NFC East              1960     1
1  NFC North              1920     2
2  NFC North              1921     3
3   AFC East              1960     4
4   AFC East              1966     5
5  NFC North              1961     6
6  AFC North              1996     7
7   NFC East              1925     8
8   AFC West              1960     9

In [10]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East
5,6,Minnesota Vikings,886,478,397,11,0.546,1961,NFC North
6,7,Baltimore Ravens,368,200,167,1,0.545,1996,AFC North
7,8,New York Giants,"1,321",692,596,33,0.536,1925,NFC East
8,9,Denver Broncos,900,476,414,10,0.534,1960,AFC West

In [11]:
nfl_frame.head()

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East

In [12]:
nfl_frame.head(1)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East

In [13]:
nfl_frame.tail()

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East
5,6,Minnesota Vikings,886,478,397,11,0.546,1961,NFC North
6,7,Baltimore Ravens,368,200,167,1,0.545,1996,AFC North
7,8,New York Giants,"1,321",692,596,33,0.536,1925,NFC East
8,9,Denver Broncos,900,476,414,10,0.534,1960,AFC West

In [15]:
nfl_frame.loc[3]

Rank                                      4
Team                New England Patriots[b]
GP                                      900
Won                                     500
Lost                                    391
Tied                                      9
Pct.                                  0.561
First NFL Season                       1960
Division                           AFC East
Name: 3, dtype: object

In [18]:
nfl_frame['Pct.'] = "0"
nfl_frame

   Rank     Team     GP  Won  Lost  Tied Pct.  First NFL Season   Division
0     1  MyTeams    898  512   380     6    0              1960   NFC East
1     2  MyTeams  1,386  761   583    42    0              1920  NFC North
2     3  MyTeams  1,352  743   571    38    0              1921  NFC North
3     4  MyTeams    900  500   391     9    0              1960   AFC East
4     5  MyTeams    816  452   360     4    0              1966   AFC East
5     6  MyTeams    886  478   397    11    0              1961  NFC North
6     7  MyTeams    368  200   167     1    0              1996  AFC North
7     8  MyTeams  1,321  692   596    33    0              1925   NFC East
8     9  MyTeams    900  476   414    10    0              1960   AFC West

In [21]:
nfl_frame['Tied'] = np.arange(9)
nfl_frame

   Rank     Team     GP  Won  Lost  Tied Pct.  First NFL Season   Division
0     1  MyTeams    898  512   380     0    0              1960   NFC East
1     2  MyTeams  1,386  761   583     1    0              1920  NFC North
2     3  MyTeams  1,352  743   571     2    0              1921  NFC North
3     4  MyTeams    900  500   391     3    0              1960   AFC East
4     5  MyTeams    816  452   360     4    0              1966   AFC East
5     6  MyTeams    886  478   397     5    0              1961  NFC North
6     7  MyTeams    368  200   167     6    0              1996  AFC North
7     8  MyTeams  1,321  692   596     7    0              1925   NFC East
8     9  MyTeams    900  476   414     8    0              1960   AFC West

Adding a Column

In [22]:
stadiums = Series(["Levi's Stadium", "AT&T Stadium"], index=[4,0])

In [23]:
stadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [25]:
nfl_frame['Stadiums'] = stadiums
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadiums
0,1,MyTeams,898,512,380,0,0,1960,NFC East,AT&T Stadium
1,2,MyTeams,"1,386",761,583,1,0,1920,NFC North,NaN
2,3,MyTeams,"1,352",743,571,2,0,1921,NFC North,NaN
3,4,MyTeams,900,500,391,3,0,1960,AFC East,NaN
4,5,MyTeams,816,452,360,4,0,1966,AFC East,Levi's Stadium
5,6,MyTeams,886,478,397,5,0,1961,NFC North,NaN
6,7,MyTeams,368,200,167,6,0,1996,AFC North,NaN
7,8,MyTeams,"1,321",692,596,7,0,1925,NFC East,NaN
8,9,MyTeams,900,476,414,8,0,1960,AFC West,NaN

In [26]:
del nfl_frame['Stadiums']
nfl_frame

   Rank     Team     GP  Won  Lost  Tied Pct.  First NFL Season   Division
0     1  MyTeams    898  512   380     0    0              1960   NFC East
1     2  MyTeams  1,386  761   583     1    0              1920  NFC North
2     3  MyTeams  1,352  743   571     2    0              1921  NFC North
3     4  MyTeams    900  500   391     3    0              1960   AFC East
4     5  MyTeams    816  452   360     4    0              1966   AFC East
5     6  MyTeams    886  478   397     5    0              1961  NFC North
6     7  MyTeams    368  200   167     6    0              1996  AFC North
7     8  MyTeams  1,321  692   596     7    0              1925   NFC East
8     9  MyTeams    900  476   414     8    0              1960   AFC West

In [27]:
data = {'City':['SF','LA','NYC'],'Population':[8370000, 3888888,29032904]}

In [28]:
city_frame = DataFrame(data)
city_frame

  City  Population
0   SF     8370000
1   LA     3888888
2  NYC    29032904